[submodule "programacao-1/periodo-especial/programacao-1/periodo-especial/2048"]
	path = programacao-1/periodo-especial/programacao-1/periodo-especial/2048
	url = https://github.com/tiagoserique/2048.git
